$global-font-family: 'Roboto', sans-serif;
$base-body-font-weight: 400;
$base-heading-font-weight: 400;
$background-default-background: #fff;
$global-primary-background: #3F51B5;
$global-secondary-background: #F44336;
$global-success-background: #4CAF50;
$global-warning-background: #FF9800;
$global-danger-background: #F44336;
$card-default-background: $background-default-background;

// Nuky variables
$nuky-menu-active-border: 3px;
